@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<h3>
@Html.ActionLink("Manage Projects", "index", "projects")
<br />
@Html.ActionLink("Manage Developers", "index", "developers")
</h3>