<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>True</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish>localhost</SiteUrlToLaunchAfterPublish>
    <publishUrl>C:\inetpub\wwwroot</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/BurnDown.dll">
      <publishTime>12/05/2012 13:53:51</publishTime>
    </File>
    <File Include="bin/BurnDown.pdb">
      <publishTime>04/29/2012 13:50:22</publishTime>
    </File>
    <File Include="bin/Controllers/AccountController.cs">
      <publishTime>04/17/2012 23:02:02</publishTime>
    </File>
    <File Include="bin/Controllers/DevelopersController.cs">
      <publishTime>12/03/2012 16:22:20</publishTime>
    </File>
    <File Include="bin/Controllers/HomeController.cs">
      <publishTime>04/23/2012 10:09:27</publishTime>
    </File>
    <File Include="bin/Controllers/ProjectsController.cs">
      <publishTime>12/03/2012 10:54:13</publishTime>
    </File>
    <File Include="bin/Controllers/TasksController.cs">
      <publishTime>12/04/2012 18:14:31</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="bin/Microsoft.CSharp.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>12/13/2011 08:49:34</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.xml">
      <publishTime>12/13/2011 08:49:34</publishTime>
    </File>
    <File Include="bin/nunit.framework.dll">
      <publishTime>02/20/2012 18:50:56</publishTime>
    </File>
    <File Include="bin/pnunit.framework.dll">
      <publishTime>02/20/2012 18:51:00</publishTime>
    </File>
    <File Include="bin/System.ComponentModel.DataAnnotations.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Configuration.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Data.DataSetExtensions.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Data.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Data.Entity.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Data.Linq.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Drawing.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.EnterpriseServices.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Runtime.Serialization.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Security.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.Abstractions.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.ApplicationServices.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.DynamicData.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.Entity.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.Extensions.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>01/05/2011 15:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>12/19/2010 23:59:38</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>01/05/2011 17:42:16</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>02/09/2011 11:26:24</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>01/05/2011 15:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>12/20/2010 10:52:36</publishTime>
    </File>
    <File Include="bin/System.Web.Routing.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.Services.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>01/05/2011 15:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>12/20/2010 10:52:36</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>01/05/2011 15:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>01/05/2011 15:45:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>12/20/2010 10:52:36</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>12/19/2010 23:59:38</publishTime>
    </File>
    <File Include="bin/System.Xml.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/System.Xml.Linq.dll">
      <publishTime>03/18/2010 20:31:26</publishTime>
    </File>
    <File Include="bin/WebMatrix.Data.dll">
      <publishTime>01/05/2011 15:45:38</publishTime>
    </File>
    <File Include="bin/WebMatrix.Data.xml">
      <publishTime>12/19/2010 23:59:38</publishTime>
    </File>
    <File Include="BurnDown.csproj">
      <publishTime>04/29/2012 13:50:22</publishTime>
    </File>
    <File Include="BurnDown.csproj.user">
      <publishTime>04/29/2012 13:50:22</publishTime>
    </File>
    <File Include="Content/images/Details.cshtml">
      <publishTime>12/03/2012 16:22:15</publishTime>
    </File>
    <File Include="Content/images/rect3872.png">
      <publishTime>12/03/2012 16:22:15</publishTime>
    </File>
    <File Include="Content/images/text3874.png">
      <publishTime>12/03/2012 16:22:15</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>04/20/2012 15:15:09</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Controllers/AccountController.cs">
      <publishTime>04/17/2012 23:02:02</publishTime>
    </File>
    <File Include="Controllers/DevelopersController.cs">
      <publishTime>04/23/2012 12:03:30</publishTime>
    </File>
    <File Include="Controllers/HomeController.cs">
      <publishTime>04/23/2012 10:09:27</publishTime>
    </File>
    <File Include="Controllers/ProjectsController.cs">
      <publishTime>04/24/2012 04:10:04</publishTime>
    </File>
    <File Include="Controllers/TasksController.cs">
      <publishTime>04/29/2012 08:28:44</publishTime>
    </File>
    <File Include="DB__burnDown/model_.cs">
      <publishTime>04/20/2012 08:47:03</publishTime>
    </File>
    <File Include="DB__burnDown_.cs">
      <publishTime>04/20/2012 08:47:03</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>04/17/2012 23:02:02</publishTime>
    </File>
    <File Include="Global.asax.cs">
      <publishTime>04/23/2012 04:18:16</publishTime>
    </File>
    <File Include="Models/AccountModels.cs">
      <publishTime>04/18/2012 12:28:35</publishTime>
    </File>
    <File Include="Models/CustomClasses.cs">
      <publishTime>04/29/2012 10:32:02</publishTime>
    </File>
    <File Include="Models/CustomInterfaces.cs">
      <publishTime>04/26/2012 13:23:15</publishTime>
    </File>
    <File Include="Models/DataClasses1.dbml">
      <publishTime>04/22/2012 15:20:25</publishTime>
    </File>
    <File Include="Models/DataClasses1.dbml.layout">
      <publishTime>04/22/2012 15:20:25</publishTime>
    </File>
    <File Include="Models/DataClasses1.designer.cs">
      <publishTime>04/26/2012 13:22:22</publishTime>
    </File>
    <File Include="Models/DataClasses2.dbml">
      <publishTime>04/24/2012 03:39:02</publishTime>
    </File>
    <File Include="Models/DataClasses2.dbml.layout">
      <publishTime>04/24/2012 03:39:02</publishTime>
    </File>
    <File Include="Models/DataClasses2.designer.cs">
      <publishTime>04/24/2012 03:43:29</publishTime>
    </File>
    <File Include="Models/Model2.edmx.sql">
      <publishTime>12/03/2012 10:32:34</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Properties/AssemblyInfo.cs">
      <publishTime>04/17/2012 23:02:02</publishTime>
    </File>
    <File Include="Scripts/jquery-1.5.1-vsdoc.js">
      <publishTime>04/17/2012 23:02:06</publishTime>
    </File>
    <File Include="Scripts/jquery-1.5.1.js">
      <publishTime>04/17/2012 23:02:05</publishTime>
    </File>
    <File Include="Scripts/jquery-1.5.1.min.js">
      <publishTime>04/17/2012 23:02:04</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.min.js">
      <publishTime>04/22/2012 13:18:21</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>04/17/2012 23:02:09</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>04/17/2012 23:02:08</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.19.custom.min.js">
      <publishTime>04/22/2012 13:14:37</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>04/17/2012 23:02:01</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>04/17/2012 23:02:01</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>04/17/2012 23:02:07</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>04/17/2012 23:02:07</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>04/17/2012 23:02:07</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>04/17/2012 23:02:01</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>04/17/2012 23:02:01</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.debug.js">
      <publishTime>04/17/2012 23:02:01</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.js">
      <publishTime>04/17/2012 23:02:01</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.debug.js">
      <publishTime>04/17/2012 23:02:01</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.js">
      <publishTime>04/17/2012 23:02:01</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.debug.js">
      <publishTime>04/17/2012 23:02:01</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.js">
      <publishTime>04/17/2012 23:02:01</publishTime>
    </File>
    <File Include="Scripts/modernizr-1.7.js">
      <publishTime>04/17/2012 23:02:17</publishTime>
    </File>
    <File Include="Scripts/modernizr-1.7.min.js">
      <publishTime>04/17/2012 23:02:16</publishTime>
    </File>
    <File Include="Tests/chartTest.cs">
      <publishTime>04/26/2012 13:20:12</publishTime>
    </File>
    <File Include="Tests/Developer.cs">
      <publishTime>04/18/2012 15:19:21</publishTime>
    </File>
    <File Include="Tests/DevTest.cs">
      <publishTime>04/24/2012 02:15:53</publishTime>
    </File>
    <File Include="Views/Account/ChangePassword.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Account/ChangePasswordSuccess.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Account/LogOn.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Account/Register.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Developers/Create.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Developers/Delete.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Developers/Details.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Developers/Edit.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Developers/Index.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Home/About.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>12/03/2012 17:36:11</publishTime>
    </File>
    <File Include="Views/Projects/Create.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Projects/Details.cshtml">
      <publishTime>12/03/2012 18:34:01</publishTime>
    </File>
    <File Include="Views/Projects/Edit.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Projects/Index.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>12/04/2012 13:20:38</publishTime>
    </File>
    <File Include="Views/Shared/_LogOnPartial.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Tasks/Create.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Tasks/Create1.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Tasks/CreateAgendaItem.cshtml">
      <publishTime>12/04/2012 15:27:21</publishTime>
    </File>
    <File Include="Views/Tasks/CreateSubtask.cshtml">
      <publishTime>04/23/2012 23:56:18</publishTime>
    </File>
    <File Include="Views/Tasks/Delete.cshtml">
      <publishTime>12/03/2012 21:38:15</publishTime>
    </File>
    <File Include="Views/Tasks/Details.cshtml">
      <publishTime>12/03/2012 17:24:34</publishTime>
    </File>
    <File Include="Views/Tasks/Edit.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Tasks/GetAgendaItems.cshtml">
      <publishTime>12/03/2012 17:36:11</publishTime>
    </File>
    <File Include="Views/Tasks/GetSubtasks.cshtml">
      <publishTime>04/29/2012 08:52:59</publishTime>
    </File>
    <File Include="Views/Tasks/Index.cshtml">
      <publishTime>12/03/2012 16:22:18</publishTime>
    </File>
    <File Include="Views/Tasks/UpdateAgendaItem.cshtml">
      <publishTime>12/04/2012 15:34:23</publishTime>
    </File>
    <File Include="Views/Tasks/UpdateSubtask.cshtml">
      <publishTime>04/24/2012 03:48:30</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>04/27/2012 22:12:45</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>04/17/2012 23:02:02</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>12/05/2012 15:13:06</publishTime>
    </File>
    <File Include="Web.Debug.config">
      <publishTime>04/17/2012 23:02:02</publishTime>
    </File>
    <File Include="Web.Release.config">
      <publishTime>04/29/2012 12:43:17</publishTime>
    </File>
  </ItemGroup>
</Project>