@model IEnumerable<BurnDown.Models.agendaItem>


<table>
    <tr>
        <th>
            agendaItemName
        </th>
        <th>
            completed
        </th>
        <th>
           
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.agendaItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.completed)
        </td>
        
        <td>
            @Html.ActionLink("Update", "UpdateAgendaItem", new {id = item.agendaItemId }) 
           
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New agendaItem", "CreateagendaItem", new { parentId = ViewBag.parentId })
</p>







